/* Здесь описаны стили применимые к каждой странице сайта */

*,
*::after,
*::before
{box-sizing: border-box}

html,
body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrapper
{
    max-width: 800px;
    margin: auto;
}